<nav class="sideNav">
  <div class="logo">
    <a href="<%= root_path %>">漫画</a>
    <h1 class="hidden_site_name">
      Manga Bunny
    </h1>
  </div>
  <ul>
    <a href="<%= root_path %>">
      <li> </li>
    </a>

    <a href="<%= posts_path %>">
      <li> </li>
    </a>

    <a href="<%= sites_path %>">
      <li> </li>
    </a>

    <a href="<%= adverts_path %>">
      <li> </li>
    </a>

  </ul>
</nav>