<div class="container">
  <h1>Posts</h1>
      <div class="row cards">

      <% @posts.each do |post| %>
        <div class="card col-md-3">
          <a href="<%= post_path(post) %>">
            <div class="boxshad">
            <div class="featured" style="background-image: url(<%= post.featuredmedia %>)"></div>
              <div class="card-body">
                <h5 class="card-title"><%= truncate(post.title.html_safe, length: 40, :omission => "" , :escape => false) %></h5>
                <p class="card-text"><small class="text-muted"><%= time_ago_in_words(post.created_at) %></small></p>
              </div>
            </div>
          </a>
        </div>
          <%#= link_to 'Edit', edit_post_path(post) %>
          <%#= link_to 'Destroy', post, method: :delete %>

      <% end %>
  </div>
  <br>

  <%#= link_to 'New Post', new_post_path %>
<%= will_paginate @posts %>

</div>